.header{
    display: flex;
    justify-content: space-between; 
    margin:15px 0; 
}
.headerMenu a{
    display: inline-block; 
    margin: 0 10px; 
    text-decoration:none; 
    color: #565673; 
    font-size: 18px;
    letter-spacing: 1.2px;
}

.headerMenu a:hover{
    color: red
}