

body{
    background: #e9eaed; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  
.main{
    width: 90%; 
    margin: 0 auto; 
    border: 1.2px solid black
  }